<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Farmproduct</h1>
  <div class="col-6 offset-3">
    <form
      action="/farmplace/<%=farmplace._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="farmplace[name]"
          value="<%=farmplace.name %>"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="farmplace[location]"
          value="<%=farmplace.location %>"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">&#8377; </span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="0"
            aria-label="price"
            aria-describedby="price-label"
            name="farmplace[price]"
            value="<%=farmplace.price %>"
            required
          />
          <div class="valid-feedback">Looks good</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="farmproduct">Farmproduct</label>
        <textarea
          class="form-control"
          type="text"
          id="farmproduct"
          name="farmplace[farmproduct]"
          required
        >
        <%=farmplace.farmproduct %>
        </textarea>
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Farmproduct</button>
      </div>
    </form>
  </div>
</div>
