<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= farmplace.name%></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= farmplace.location%></li>
        <li class="list-group-item"><%= farmplace.farmproduct%></li>
        <li class="list-group-item">&#8377;<%= farmplace.price%>/Kg</li>
      </ul>

      <%if(currentUser && farmplace.author.equals(currentUser)) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/farmplace/<%=farmplace._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/farmplace/<%=farmplace._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted"><%= farmplace.dateAdded %></div>
    </div>
  </div>
  <div class="col-6">
    <%if(currentUser){ %>
    <h2>Leave a Comment</h2>
    <form
      action="/farmplace/<%=farmplace._id %>/comments"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <fieldset class="starability-basic">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="comment[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="comment[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="comment[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="comment[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="comment[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="comment[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div class="mb-3">
        <label for="body">Comment</label>
        <textarea
          class="form-control"
          name="comment[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %> <% for(let comment of farmplace.comments) {%>
    <div class="card mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= comment.author.username%></h5>
          <p class="starability-result" data-rating="<%=comment.rating%>">
            Rated: <%= comment.rating %> stars
          </p>
          <!-- <h6 class="card-subtitle mb-2 text-muted">By <%= comment.author.username%></h6> -->
          <p class="card-text">Review: <%= comment.body %></p>
          <% if( currentUser && comment.author.equals(currentUser._id)) {%>
          <form
            action="/farmplace/<%=farmplace._id%>/comments/<%=comment._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
